$primaryColor: #CA3D3D;
$placeholderRowColor: pink;
$placeholderRowOddColor: blue;
$placeholderCol1Color: red;
$placeholderCol2Color: green;
$pageBackgroundColor: #FFF;

.body {
  background-color: $pageBackgroundColor;
}