@import "base";

body, html {
  height: 100%;
}

.navigation {
  text-align: center;
}

.hero {
  height: 90%;
  background-color: $placeholderRowColor;
  background-image: url("../assets/hero-placeholder-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align: center;

  .row {
    height: 100%;

    .col {
      height: 100%;
    }
  }

  .start-cta {
    vertical-align: bottom;
    margin-bottom: 10vh;
  }
}

.about-us {
  background-color: #F2F2F2;
  height: 100%;

  .row {
    height: 100%;
  }

  .about-img {
    text-align: right;
  }
}

.our-process {

  .right {
    background-color: $primaryColor;

    .process-item {
      margin-bottom: 3rem;

      .process-icon {
        margin-top: 0.75rem;
        text-align: right;
      }

      .process-desc {
        color: #FFF;

        .process-item-title {
          text-transform: capitalize;
          font-size: 2rem;
          font-weight: $font-weight-light;
        }
      }
    }

    .process-item:first-of-type {
      margin-top: 3em;
    }
  }
}

.growth {
  background-image: url("../assets/hero-placeholder-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align: center;
}

.case-studies {
  height: 100%;
  background-color: $placeholderRowOddColor;
}

.contact-us {
  height: 30%;
  background-color: $placeholderRowColor;

  .row {
    height: 100%;
  }

  .contact {
    height: 100%;
    background-color: $placeholderCol1Color;
  }

  .social {
    height: 100%;
    background-color: $placeholderCol2Color;
  }
}

.footer {
  height: 10%;
  background-color: $placeholderRowOddColor;
}
