@import "base";

body, html {
  height: 100%;
}

.navigation {
  text-align: center;
}

.hero {
  height: 90%;
  background-color: $placeholderRowColor;
  background-image: url("../assets/hero-placeholder-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align: center;

  .row {
    height: 100%;

    .col {
      height: 100%;
    }
  }

  .start-cta {
    background-color: $primaryColor;
    color: #FFF;
    vertical-align: bottom;
    margin-bottom: 10vh;
  }
}

.about-us {
  background-color: $placeholderRowOddColor;
  height: 100%;
}

.our-process {
  height: 100%;

  .row {
    height: 100%;
  }

  .left {
    height: 100%;
    background-color: $placeholderCol1Color;
  }

  .right {
    height: 100%;
    background-color: $placeholderCol2Color;
  }
}

.growth {
  height: 50%;
  background-color: $placeholderRowColor;
}

.case-studies {
  height: 100%;
  background-color: $placeholderRowOddColor;
}

.contact-us {
  height: 30%;
  background-color: $placeholderRowColor;

  .row {
    height: 100%;
  }

  .contact {
    height: 100%;
    background-color: $placeholderCol1Color;
  }

  .social {
    height: 100%;
    background-color: $placeholderCol2Color;
  }
}

.footer {
  height: 10%;
  background-color: $placeholderRowOddColor;
}
