@import "base";

.podcast-header {
  background-color: #ECECEC;

  .podcast-header-hero {

    .podcast-cover {

      @include media-breakpoint-down(md) {
        text-align: center;
        margin-bottom: 2rem;
      }
    }
  }

  .podcast-ctas {

    .btn {
      width: 15rem;
    }

    .btn:first-child {
      margin-bottom: 1rem;
    }
  }
}